body {
	background: #ECEFF1;
}
.navbar-inverse {
	background-color: #B81321 !important;
	border-color: #A10E20 !important;
}
.navbar-header {
	width: 100%;
}
table {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
}
.snackbar {
	background: rgba(161, 14, 32, 0.8);
	padding: 7px;
	color: #fff;
}	
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
	background: url('../img/loading.svg') 50% 50% no-repeat rgba(250, 250, 250, 0.7);
}	
@media screen and (max-width: 480px) {
	.col-xs-6 {
		width: 100%;
	}
	label {
		margin-bottom: 0;
	}
}